$icomoon-font-family: "transformers_icon" !default;
$icomoon-font-path: "../fonts" !default;

$icon-right: "\e902";
$icon-left: "\e903";
$icon-play: "\e901";
$icon-search: "\e917";
$icon-dot-triangle: "\e900";
$icon-search: "\e917";
$icon-user-filled: "\e918";
$icon-user-outlined: "\e919";
$icon-facebook: "\e91a";
$icon-instagram: "\e91b";
$icon-line: "\e91c";
$icon-rss: "\e921";
$icon-cancel: "\e92e";
$icon-arrow-right: "\e933";
$icon-arrow-left: "\e934";
$icon-arrow-down: "\e935";
$icon-arrow-up: "\e936";

$gray-100: #EEEEEE !default;
$gray-200: #D3D5D7 !default;
$gray-300: #939EA7 !default; //secondary
$gray-400: #6B7780 !default;
$gray-500: #48545D !default; //secondary-variant

//
$red-100: #FEEBEC !default;
$red-200: #EE969B !default;
$red-300: #D60C18 !default; //primary
$red-400: #BE0B15 !default;
$red-500: #9D0505 !default; //primary-variant

//
$white: #fff !default; //background
$gray: #fafafa !default; //background
$black: #171717 !default;
$dark: #394148 !default;

//
$surface: #D7B788;
$surface-variant: #895A36;
$primary: $red-300 !default;
$primary-variant: $red-500 !default;
$secondary: $gray-300 !default;
$secondary-variant: $gray-500 !default;
$error: $red-500 !default;
$background: $white !default;
$text: $black !default;

//
$facebook: #1877F2 !default;
$google: #EA4335 !default;
$instagram: #b900b4 !default;
$line: #00C200 !default;
$rss: #FF5700 !default;
$mail: $surface !default;
